<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script>
            function add_mode(id){  
                $("#tt" + id).show();
                $("#at" + id).text("Modifier");
                $("#at" + id).click((function(){return normal_mode(id)}));
                return false;}

            function normal_mode(id){
                $("#at" + id).text("+");
                $("#at" + id).click((function(){return add_mode(id)}));
                $("#tt" + id).hide();
                addtag(id);
                return false;}
            
            function modifier(id){  
                $("#qt" + id).show();
                $("#m" + id).text("Sauver");
                $("#m" + id).click((function(){return sauver(id)}));
                return false;}

            function sauver(id){
                $("#m" + id).text("Modfier");
                $("#m" + id).click((function(){return modifier(id)}));
                $("#qt" + id).hide();
                postqtext(id);
                return false;}
            
            var machin = 4;

            function postqtext(id){
                var data = {
                    q_id:  id,
                    qtext: $("#qt" + id).val()};
                $.post("findandmodify", data, 
                    (function(data, status){
                        $("#lb" + id).text(
                        $.parseJSON(data).question_text)
                        machin = $.parseJSON(data)
                        })
                    );}

            function update_question(data, status, id){
                // update question_text
                $("#lb" + id).text(
                    $.parseJSON(data).question_text);
                    question = $.parseJSON(data) ;
                    
                    var code = "";
                    
                    for (var i =0; i< question.tags.length; i++ )
                    {
                        code += " <mark class='tags'>";
                        code += question.tags[i] + " </mark>";
                        code += "<button class='del'> X </button>"
                    }
                    machin = code;
                    $("#tg" + id).html(code);
            }

            function addtag(id){
                var data = {
                    q_id:  id,
                    tag_text: $("#tt" + id).val()};
                $.post("addtag", data,(function(data, status){
                    update_question(data, status, id)}) );
                }

            function deltag(q_id, tag_id){
                var data = {
                    q_id: q_id,
                    tag_id : tag_id}
                $.post("deltag", data,(function(data, status){
                    update_question(data, status, id)}) );
                }
        </script>
        
        
        <title>Modify one </title>
    </head>
 
    <body>
     <div class='question'>
        <h2> Symptome : {{question.q_id}} {{question.symptome}}</h2>
            <div>
             <h3> Tags : </h3> 
                <div id="tg{{question.q_id}}">   
                {% for i,t in enumerate(question.tags) %}
                <mark class='tags'> {{ t }} </mark>
                <button class='del' onclick=deltag({{question.q_id}},{{i}})> X </button>
                {% endfor %}
                </div>    
                <input type="text" id="tt{{question.q_id}}">   
            <button class='addtag' id="at{{question.q_id}}"> + </button>
            </div>

<form> 
            <h3> Texte de la question pour le patient : </h3>
            <label id="lb{{question.q_id}}">{{question.question_text}} </label>
            <input type="text" id="qt{{question.q_id}}"> </input>
            <button class ='modify' id="m{{question.q_id}}"> Modifier</button>
        </form>
     </div>
                
                
                
     <script> 

         var id = {{question.q_id}};
         $("#qt{{question.q_id}}").hide(); // hide the form 
         $("#tt{{question.q_id}}").hide(); // hide the form 
         $("#m" + id).click((function(){return modifier(id)})); //show the form on click
         $("#at" + id).click((function(){return add_mode(id)})); //show the form on click
     </script>

    </body>
</html>
