{% macro modify_question(q, enumerate, tags) %}
<div class='question' id="q{{q.q_id}}">
        <form>
            <h2> Symptome : {{q.q_id}} <label id="lbs{{q.q_id}}">{{q.symptome}} </label></h2>
            <input type="text" id="ts{{q.q_id}}">   
            <button class ='modify' id="ms{{q.q_id}}"> Modifier</button>
            <button class ='modify' id="ss{{q.q_id}}"> Sauver</button>
            <button class ='delquest' id="dq{{q.q_id}}"> Supprimer</button>
        </form>
    <div>
        <h3> Tags : </h3> 
            <div id="tg{{q.q_id}}">   
            {% for i,t in enumerate(q.tags_ids) %}
            <mark class='tags'> {{ tags[t] }} </mark>
            <button class='del' onclick=deltag({{q.q_id}},{{i}})> X </button>
            {% endfor %}
            </div>    
            <input type="text" id="tt{{q.q_id}}" class="searchtags">   
        <button class='addtag' id="at{{q.q_id}}"> + </button>
        <button class='addtag' id="mt{{q.q_id}}"> Modifier </button>
        </div>

    <form> 
            <h3> Texte de la question pour le patient : </h3>
            <label id="lb{{q.q_id}}">{{q.question_text}} </label>
            <input type="text" id="qt{{q.q_id}}"> </input>
            <button class ='modify' id="m{{q.q_id}}"> Modifier</button>
            <button class ='modify' id="s{{q.q_id}}"> Sauver</button>
        </form>

     <form>
         <h3> Frequence de la Question ] 0 ; 1 ] 1-> tres frequent 0.01 -> tres rare : </h3>
            <input type="text" id="pri{{q.q_id}}" value="{{q.priority}}"> </input>
            <button class ='modify' id="spri{{q.q_id}}"> Sauver</button>
     </form>
 
     <form>
         <h3> Reponses et mots-cles associes: </h3>
     </form>
  



 </div>
                
                
                
     <script> 

        $("#ts{{q.q_id}}").hide(); // hide the form 
        $("#tt{{q.q_id}}").hide(); // hide the form 
        $("#qt{{q.q_id}}").hide(); // hide the form 
        $("#ms" + {{q.q_id}}).click((function(){return modifier_symptome({{q.q_id}})})); 
        $("#ss" + {{q.q_id}}).click((function(){return sauver_symptome({{q.q_id}})})); 
        $("#dq" + {{q.q_id}}).click((function(){return delete_question({{q.q_id}})})); 
        $("#m" + {{q.q_id}}).click((function(){return modifier({{q.q_id}})})); 
        $("#s" + {{q.q_id}}).click((function(){return sauver({{q.q_id}})})); 
        $("#spri" + {{q.q_id}}).click((function(){return sauver_priority({{q.q_id}})})); 
        $("#at" + {{q.q_id}}).click((function(){return add_mode({{q.q_id}})}));
        $("#mt" + {{q.q_id}}).click((function(){return normal_mode({{q.q_id}})}));
        $("#mt" + {{q.q_id}}).hide()
        $("#s" + {{q.q_id}}).hide()
        $("#ss" + {{q.q_id}}).hide()

     </script>


{% endmacro %} 
