{% extends "global_layout.html" %}

{% block head %}
    {{ super() }}
   <script type="text/javascript" src="{{ url_for('static', filename='script_modify.js') }}"></script>
{% endblock %}

{% block body %}
    {{ super() }}
    {% macro modify_question(q, enumerate, tags) %}
    <div class='question' id="q{{q.q_id}}">
        {% include "modify_one_template.html" %}
    </div>
    {% endmacro %} 
    {% for q in questions %}
        {{ modify_question(q, enumerate, tags)}}
    {% endfor %}

{% endblock %}
