<form>
    <h2> {{q.question_text}} </h2> 

    <button class='expand' onclick="return expand_question('{{q.id}}')" > + </button>
    <button class='expand' onclick="return contract_question('{{q.id}}')"> - </button>
    {% if q.valid %}
    <img id = "image_ok{{q.id}}" src="{{ url_for('static', filename='bullet_valid.ico') }}">
    {% else %}
    <img id = "image_not_ok{{q.id}}" src="{{ url_for('static', filename='Delete.ico') }}">

    {% endif %}
    <a href= https://docs.google.com/document/d/1uj6_exWl9HDLTM74iqK9frgQIfrCpbAdFSHFexeJJlw/edit#> AIDE ? </a>
    <div id = "main{{q.id}}" class="question_form">

        <button onclick="return validate_question('{{q.id}}')"> Valider </button> 
       <button onclick="return unvalidate_question('{{q.id}}')"> In - Valider </button> 
       <h3> Symptome : <label id="lbs{{q.id}}">{{q.symptome}} </label>  </h3>
       <input type="text" id="ts{{q.id}}">   
            <button class ='modify' id="ms{{q.id}}"> Modifier</button>
            <button class ='modify' id="ss{{q.id}}"> Sauver</button>
            <button class ='delquest' id="dq{{q.id}}"> Supprimer</button>
        </form>
    <div>
        <h3> Tags : </h3> 
            <div id="tg{{q.id}}">   
            {% for i,t in enumerate(q.tags_ids) %}
            <mark class='tags'> {{ tags[t] }} </mark>
            <button class='del' onclick="return deltag('{{q.id}}',{{i}})"> X </button>
            {% endfor %}
            </div>    
            <input type="text" id="tt{{q.id}}" class="searchtags">   
        <button class='addtag' id="at{{q.id}}"> + </button>
        <button class='addtag' id="mt{{q.id}}"> Modifier </button>
        </div>

    <form> 
            <h3> Texte de la question pour le patient : </h3>
            <label id="lb{{q.id}}">{{q.question_text}} </label>
            <input type="text" id="qt{{q.id}}" value = "{{q.question_text}}"> </input>
            <button class ='modify' id="m{{q.id}}"> Modifier</button>
            <button class ='modify' id="s{{q.id}}"> Sauver</button>
        </form>

     <form>
         <h3> Frequence de la Question ] 0 ; 1 ] 1-> tres frequent 0.01 -> tres rare : </h3>
            <input type="text" id="pri{{q.id}}" value="{{q.priority}}"> </input>
            <button class ='modify' id="spri{{q.id}}"> Sauver</button>
     </form>
 
     <form>
         <h3> Reponses et mots-cles associes: </h3>
            {%for i,ans in enumerate(q.answer_choices) %}
            <h4> {{ i+1 }} {{ ans }}  </h4>
            <input type= "text" value="{{ans}}" id="ans{{q.id}}{{i}}"> </input>
            <button class='del'  onclick="return delete_answer('{{q.id}}',{{i}})" > X </button>
            <button class='modify' onclick="return modify_answer('{{q.id}}',{{i}})" > modifier </button>
            <div>
                <label> implique => </label>
                {%for j, (pos, tag_id) in enumerate(q.logic[ans]) %}
                    {% if pos %}
                    <mark class='tags'> {{ tags[tag_id] }} </mark>
                    {% else %}
                    <mark class='anti_tags'> {{ tags[tag_id] }} </mark>
                    {% endif %}

                    <button class='del' onclick="return delete_tag_inference_in_answer('{{q.id}}',{{i}},{{j}})" > X </button>
                {% endfor %}
                <input type= "text" class="searchtags" id="ans_tag{{q.id}}{{i}}"> </input>
                <button class='addtag' onclick="return add_tag_inference_in_answer('{{q.id}}',{{i}})" > + </button>
                </div>   
                {% endfor %}
            <h4> Ajouter une reponse : </h4>
            <input type= "text"  value="{{ans}}" id="new_ans{{q.id}}"> </input>
            <button class='addtag' onclick="return add_answer('{{q.id}}')" > + </button>
        </div>
        </form>
  

 <script> 
        $("#ts{{q.id}}").hide(); // hide the form 
        $("#tt{{q.id}}").hide(); // hide the form 
        $("#qt{{q.id}}").hide(); // hide the form 
        $("#ms{{q.id}}").click((function(){return modifier_symptome('{{q.id}}')})); 
        $("#ss{{q.id}}").click((function(){return sauver_symptome('{{q.id}}')})); 
        $("#dq{{q.id}}").click((function(){return delete_question('{{q.id}}')})); 
        $("#m{{q.id}}").click((function(){return modifier('{{q.id}}')})); 
        $("#s{{q.id}}").click((function(){return sauver('{{q.id}}')})); 
        $("#spri{{q.id}}").click((function(){return sauver_priority('{{q.id}}')})); 
        $("#at{{q.id}}").click((function(){return add_mode('{{q.id}}')}));
        $("#mt{{q.id}}").click((function(){return normal_mode('{{q.id}}')}));
        $("#mt{{q.id}}").hide()
        $("#s{{q.id}}").hide()
        $("#ss{{q.id}}").hide()

        $(function() {
            $( ".searchtags" ).autocomplete({
                source: function(request, response){
                        
                        var data = {
                            key:  request.term};
                        $.get("search_tags", data, 
                        (function(data, status){
                            response($.parseJSON(data).tags);
                    }));
                }

                    
            });
            });


     </script>


