<h2> {{q.question_text}} </h2>
<a href='/modifyone?id={{q.id}}'> Modifier la question </a>
<div class="answers">
    {% for i, a in enumerate(q.answer_choices) %}
    <button onclick="return answer('{{q.id}}', {{i}})"> {{a}} </button>
    {% endfor %}
</div>

<div class= "history">
    {% for b, t in tags %}
        {% if b %}
            <mark class='tags'> {{ t }} </mark>
        {% else %}
            <mark class='anti_tags'> {{ t }} </mark>
        {% endif %}
    
    {% endfor %}
</div>



