{% extends "global_layout.html" %}

{% block head %}
{{super()}}
<script> 
          function bannir_tag(id)
          {
                var data = {
                            tag_id:  id}
                $.post("delete_tag_from_db", data, 
                        (function(data, status){
                            $("#tag" + id).remove();
                        }));
            return false;    
            }
</script>
{% endblock %}      
{% block title %}   Editeur des tags {% endblock %}
 
{% block body %}      
{{ super()}}
    <div>
        <p>ici on peut supprimer des tags (Pour ajouter aller sur la page des question) </p>
    </div>
 
    {% for t in tags %}
    <div class='tagsdisplay' id="tag{{t.id}}">
        <form>
             <label style="font-weight:bold;"> {{t.text}}  </label>  <button class ='del' onclick="return bannir_tag('{{t.id}}')"> X</button>
        </form>
    </div>            
    {% endfor %}

{% endblock %}

