<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    </head>
 
    <body>
        <div id="truc"> texte qui doit etre modifie dynamiquement </div>
        <input type="button" value ="coucou" />
        <form> 
            <input type=text value ="change" id="truc2">
            <input type="button" id="chose">
        </form>

    </body>
    <script>
        $( "#chose" ).click(function(){$( "#truc2" ).hide()});
        function bouton(){
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'findandmodify');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var question = document.getElementById('truc');
                        question.innerHTML = xhr.responseText;
                    }
                };
                xhr.send(null);
            };


        (function() {
            var inputs = document.getElementsByTagName('input'),
                inputsLen = inputs.length;
                           
            for (var i = 0 ; i < inputsLen ; i++) {
                inputs[i].onclick = bouton ;
            };
            })(); 
        
        </script>
</html>
